<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<p>Bonjour,</p>
<br>

<p>Un message a été envoyé via le formulaire de contact :</p>
<br>

<p>
    Nom / Prénom : {{ name }}<br>
    Email : {{ email }}<br>
    Objet : {{ subject }}
</p>

<p>{{ message }}</p>
<br>
<br>

<p>Message système : {{ appName }}</p>
</body>
</html>